build
_build
doc/_build
dist
man
bin
include
lib
lib64
share
local
pip-selfcheck.json
.idea
.pytest_cache
*.cache
*.pyc
*.swp
*__pycache__
*.egg-info
*.ipynb-checkpoints
*api_key.txt
*testing_data/
examples/.ipynb_checkpoints
